body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
  }
  
  .publicaciones {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    margin: 20px;
  }
  
  #input_descripcion {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  #btnPublicar {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #lista_publicaciones {
    list-style: none; /* Elimina los puntos de las listas */
    padding: 0;
    margin: 0;
    text-align: left;
  }
  
  #lista_publicaciones, #imagenes-publicadas  img{
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 400px; /* Ajusta el tamaño máximo de las imágenes */
    margin-top: 10px; /* Espacio entre el texto y la imagen */
  }
  

  
  #comentarios {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    margin: 20px;
  }
  
  .h3_comentarios {
    font-size: 18px;
    margin-top: 0;
  }
  
  #input_comentario {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    display: block;
  }
  
  #btnComentario {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #lista_comentario {
    list-style: none; /* Elimina los puntos de las listas */
    padding: 0;
    margin: 0;
    text-align: left;
  }
  
  #lista_comentario li {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
  }
  